.loadingSpinner {
  margin: 0 auto;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  @keyframes SpinnerAnimation {
    to {
      transform: rotate(360deg);
    }
  }
  animation: SpinnerAnimation 1s ease-in-out infinite;
}
